extends layout

block content

  .container-fluid
  
    form(action="/tasters/new", method="post")
      .row
        .col-xs-12
          h1= title
        
      .row
        .col-xs-10.col-xs-offset-1
      
          .form-group.text-left
            label(for='name_field') Name
            .input-group.input-group-lg
              span.input-group-addon
                span.glyphicon.glyphicon-user(aria-hidden='true')
              input#name_field.form-control(type='text', name='name_field' placeholder='Name', aria-describedby='name_field')
            
          .form-group.text-left
            label(for='email_field') Email
            .input-group.input-group-lg
              span.input-group-addon @
              input#email_field.form-control(type='text', name='email_field' placeholder='Email', aria-describedby='email_field')

      .row
        .col-xs-10.col-sm-5.col-xs-offset-1
      
          .form-group.text-left
            label(for='brewing-exp-field') Brewing experience
            select#brewing-exp-field.form-control.input-lg(name='brewing_exp_field')
              each exp in experiences
                option(value=exp.id)
                  = exp.level
      
        .col-xs-10.col-sm-5.col-xs-offset-1.col-sm-offset-0
      
          .form-group.text-left
            label(for='certification-field') Judging certification
            select#certification-field.form-control.input-lg(name='certification_field')
              each cert in certifications
                option(value=cert.id)
                  = cert.certification
            
      .row.hidden-xs
        .col-xs-10.col-xs-offset-1
      
          .form-group.text-left.horizontal-scale
            label(for='overall-knowledge-field') Overall beer knowledge
            .btn-group.btn-group-justified(data-toggle='buttons')
              label.btn.btn-lg.btn-default
                input(type='radio', value='1', name='overall_knowledge_field', autocomplete='off')
                | 1
              label.btn.btn-lg.btn-default
                input(type='radio', value='2', name='overall_knowledge_field', autocomplete='off')
                | 2
              label.btn.btn-lg.btn-default
                input(type='radio', value='3', name='overall_knowledge_field', autocomplete='off')
                | 3
              label.btn.btn-lg.btn-default
                input(type='radio', value='4', name='overall_knowledge_field', autocomplete='off')
                | 4
              label.btn.btn-lg.btn-default
                input(type='radio', value='5', name='overall_knowledge_field', autocomplete='off')
                | 5
              label.btn.btn-lg.btn-default
                input(type='radio', value='6', name='overall_knowledge_field', autocomplete='off')
                | 6
              label.btn.btn-lg.btn-default
                input(type='radio', value='7', name='overall_knowledge_field', autocomplete='off')
                | 7
              label.btn.btn-lg.btn-default
                input(type='radio', value='8', name='overall_knowledge_field', autocomplete='off')
                | 8
              label.btn.btn-lg.btn-default
                input(type='radio', value='9', name='overall_knowledge_field', autocomplete='off')
                | 9
              label.btn.btn-lg.btn-default
                input(type='radio', value='10', name='overall_knowledge_field', autocomplete='off')
                | 10
              
      .row.hidden-xs
        .col-xs-5.col-xs-offset-1
        
          .ten-point-label
            p Beginner
            
        .col-xs-5
        
          .ten-point-label.pull-right
            p Expert
            
      .row.visible-xs
        .col-xs-10.col-xs-offset-1
        
          .form-group.text-left
            label(for='overall-knowledge-mob-field') Overall beer knowledge
            select#overall-knowledge-mob-field.form-control.input-lg(name='overall_knowledge_mob_field')
              option(value='1') 1 - Beginner
              option(value='2') 2
              option(value='3') 3
              option(value='4') 4
              option(value='5') 5
              option(value='6') 6
              option(value='7') 7
              option(value='8') 8
              option(value='9') 9
              option(value='10') 10 - Expert
              
      .row
        .col-sm-3.col-xs-offset-1.col-xs-5
          a.btn.btn-lg.btn-default.btn-block.option-button(href='/tasters', role='button', name='back') Back
        .col-sm-3.col-sm-offset-4.col-xs-5
          button.btn.btn-lg.btn-info.btn-block.option-button(type='submit', name='save-taster') Save

block body_end
  script(type='text/javascript', src='/javascripts/triangle.js')
  script(type='text/javascript')
    | better_button_group("overall_knowledge_field", "btn-success");
    | select_value_to_radio("overall_knowledge_mob_field", "overall_knowledge_field");
