body {
  text-align: center;
}

.option-button {
  height: 5em;
}

a[role="button"].option-button {
  line-height: 4em;
}

.horizontal-scale {
  margin-bottom: 0;
}

.ten-point-label {
  width: 21%;
}

/* ADJUSTMENTS FOR MOBILE */
@media (max-width: 767px) {
  .option-button {
    margin-top: 1em;
  }
}
