body {
  text-align: center;
}

.footer {
  height: 2em;
}

.option-button {
  height: 5em;
}

a[role="button"].option-button {
  line-height: 4em;
}

.horizontal-scale {
  margin-bottom: 0;
}

.ten-point-label {
  width: 21%;
}

.no-margin {
  margin: 0;
}

.label {
  text-shadow:0 -1px 0px rgba(1,1,1,0.4);
  padding: 0.1em 0.5em 0.2em;
}

.label-no-colour {
  background-color: #fff;
  padding: 0.1em 0.5em 0.2em;
  border: 2px solid #777;
  color: #777;
}

/* ADJUSTMENTS FOR MOBILE */
@media (max-width: 767px) {
  .option-button {
    margin-top: 1em;
  }
}
